@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", serif;
  font-weight: 500;
  font-style: normal;
  color: black;
}
.lora-font {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bannerContainer {
  /* background-color: #07080848; */
  background-color: rgba(93, 89, 89, 0.11);
}

.doubleQuotes {
  font-family: "Sarina", cursive;
}

.card-component:hover p {
  bottom: -200px;
  background-color: black;
  color: #f2f2f2ca;
}

.features-container:hover .features-text-container {
  bottom: 0;
  /* background-color: #9b6bdfec; */
}
.booksImageContainer {
  background-image: url("src/assets/book-library-with-open-textbook.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.wixui_rich_text {
  font-family: "Wix Madefor Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.accordion-transition {
  transition: all 0.3s ease 30ms;
}
.accordion-transition:hover {
  scale: 1.02;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.fictionalBookContainer .visitBookContent {
  transition: all 0.3s;
}

.fictionalBookContainer:hover .visitBookContent {
  transform: translateY(0);
  background-color: rgb(255 255 255 / 69%);
}

.popUpDivCover {
  /* background-color: rgba(0, 0, 0, 0.582); */

  /* position: fixed; */
  background-color: rgba(255, 255, 255, 0.548);
  z-index: 1;
}

.stop-scroll {
  height: 100%;
  overflow: hidden;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.blurBG {
  background-color: #000000b5;
}

.size-4 {
  width: 25px;
  height: 25px;
  /* padding: ; */
}
.card-hover-transition {
  transition: all 70ms ease-in-out;
}
.card-hover-transition:hover {
  border: 1px solid gray;
  scale: 1.09;
}

.smooch-sans-font {
  font-family: "Smooch Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.upliftDiv:hover .currUpliftDiv {
  top: 20vh;
}
.currUpliftdiv:hover {
  top: 20vh;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
    /* clip-path: inset(100% 100% 0 0); */
    /* transform: translateX(-10%); */
  }
  to {
    opacity: 1;
    scale: 1;
    /* clip-path: inset(0 0 0 0); */
    /* transform: translateX(0); */
  }
}

@keyframes appear1 {
  from {
    opacity: 0;
    /* scale: 0.5; */
    /* clip-path: inset(100% 100% 0 0); */
    transform: translateY(-40%);
  }
  to {
    opacity: 1;
    /* scale: 1; */
    clip-path: inset(0 0 0 0);
    transform: translateY(0);
  }
}

.blockElem {
  animation: appear1 ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.blockElem1 {
  animation: appear ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.animatedLibraryImage {
  background-image: url("./assets/animatedLibraryImage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bookTypesBgImage {
  background-image: url("./assets/bookTypesBgImage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bannerBg {
  background-image: url("./assets/e-library.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.ratingFavBg {
  background-image: url("./assets/ratingsFavBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.statisticsBg {
  background-image: url("./assets/statistics.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.inspiringBooksBg {
  background-image: url("./assets/inspiringBooksBg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.borrowedBooksBg {
  background-image: url("./assets/borrowedBooksBg.jpg");
  background-position: center;
  background-size:cover ;
  background-repeat: no-repeat;
}

.open-sans-font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
